:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: #222;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: flex-end;
  background-color: #262626;
}

header nav {
  display: flex;
}

header a {
  color: #fff;
  padding: 0 0.75rem 0 0.75rem;
  align-content: center;
  height: 30px;
  text-decoration: none;
}

header a.active {
  background-color: #0005;
}

header a:hover {
  background-color: #0008;
}

main {
  flex: 1;
  display: flex;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ccc;
    background-color: #1a1a1a;
  }
}
